<div class="site-description">
  <img src="{{ site.baseurl}}/assets/img/avatar.jpg" alt="Hallo, ich bin Frau Lyoner!"></img>
  <p>Hi, ich heiße Aljona alias
    <a href="https://fraulyoner.de/" target="_blank">Frau Lyoner</a>.
    Seit Anfang des Jahres bin ich als Scrum Master in spe unterwegs.
    Auf meiner abenteuerlichen Reise zu den Bergen der agilen Weisheit
    dient mir dieser Blog als wertvolles Logbuch, in dem ich meine
    gesammelten Erkenntnisse, Lessons Learned und persönliche Gedanken
    festhalte. Und mit viel Glück können vielleicht auch andere Menschen
    von meinen subjektiven Erfahrungsberichten und Gedankenanstößen
    profitieren. Feedback ist immer herzlich willkommen!
  </p>
</div>
