<div class="site-description">
  <img src="{{ site.baseurl}}/assets/img/avatar.jpg" alt="Hallo, ich bin Frau Lyoner!"></img>
  <p>
    Hi, ich bin Aljona alias
    <a href="{{ site.theme_settings.homepage }}" target="_blank">Frau Lyoner</a>.
    Seit Anfang 2019 bin ich als Scrum Master und Team Coach unterwegs. Auf
    dieser abenteuerlichen Reise dient mir dieser Blog als kleines Logbuch, auf
    dem ich hauptsächlich Ideen und Erfahrungen zu Retrospektiven und Workshops
    festhalte.
  </p>
</div>
