<div class="site-description">
  <img src="{{ site.baseurl}}/assets/img/avatar.jpg" alt="Hallo, ich bin Frau Lyoner!"></img>
  <p>Hi, ich heiße Aljona alias
    <a href="https://fraulyoner.de/" target="_blank">Frau Lyoner</a>.
    Seit Anfang des Jahres befinde ich mich auf der wohl ewig währenden Reise
    zum Agilen Coach. Dieser Blog dient mir in erster Linie als wertvolles
    Logbuch, um die im Laufe meiner Reise wachsenden Erkenntnisse, Lessons
    Learned und persönliche Gedanken festzuhalten. Es wäre mir jedoch eine große
    Freude, wenn auch andere Menschen etwas aus meinen subjektiven
    Erfahrungsberichten und Gedankenanstößen ziehen könnten – ganz im Sinne von
    <i>Sharing is Caring</i>.
  </p>
</div>
